header {
    background-color: #7D1F2F;
    position: relative;
    width: 100vw;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header button {
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

header .center {
    position: absolute;
    top: -12px;
    left: 41%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
}

@media screen and (width < 1200px) {
    header .center {
        left: 30%;
    }
}

.center h1 {
    font-size: 30px;
    margin: 0px;
}

/*---- MODALCITO -----*/

.modalcito{
    display: none;
    position: absolute;
    top: 10;
    left: -185px;
    width: 200px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    z-index:999;
    background-color: #fff;
    border: 1px solid #45000C;
    border-radius: 10px 0px 10px 10px;
}

.modalcito div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 10px 10px;
}

.modalcito div a {
    color: white;
    background-color: #811628;
    width: 100%;
    padding: 4px 0px;
    border-radius: 5px;
}
